<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>363823121299-05jet4t8e9q62423bpr8ptfvrvquk3jo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.363823121299-05jet4t8e9q62423bpr8ptfvrvquk3jo</string>
	<key>API_KEY</key>
	<string>AIzaSyB8YrJC1Mxrlf3-h0pxk_eQepu1zlp5CRg</string>
	<key>GCM_SENDER_ID</key>
	<string>363823121299</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>support.papa.papa-support-app</string>
	<key>PROJECT_ID</key>
	<string>papaapp-56840</string>
	<key>STORAGE_BUCKET</key>
	<string>papaapp-56840.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:363823121299:ios:6ef5e179c68f190a</string>
	<key>DATABASE_URL</key>
	<string>https://papaapp-56840.firebaseio.com</string>
</dict>
</plist>